<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Výsledky</title>
</head>
<body>
    <h1>Výsledky</h1>
    <p>Hráč 1: {{ score_1 }} bodů</p>
    <p>Hráč 2: {{ score_2 }} bodů</p>
    <img src="{{ url_for('static', filename='graf.png') }}" alt="graf">
    
    <h2>Statistika</h2>
    <ul>
        <li>Spolupráce: {{ zaznamy['spoluprace'] }}x</li>
        <li>Úspěšná zrada hráče 1: {{ zaznamy['uspesna_zrada_hrace_1'] }}</li>
        <li>Úspěšná zrada hráče 2: {{ zaznamy['uspesna_zrada_hrace_2'] }}</li>
        <li>Oboustranná zrada: {{ zaznamy['nespoluprace'] }}</li>
    </ul>

    <a href="{{ url_for('reset') }}"><button>Hrát znovu</button></a>
</body>
</html>
